html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}


a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

a {
  outline: none;
}

a, button, input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}


* {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  box-sizing:border-box;
}


html {
  font-size: 50px;
}


html, body {
  width: 100%;
  height: 100%;
  font-family: Microsoft YaHei,Arial, sans-serif;
  background-color:  rgb(255, 193, 51);
}


img{
  display: block;
  border: none;
  width: 100%;
}


/*@font-face {
  font-family: 'blockbeextracn';
  src: url("/fonts/block-be-extra-cn-13615416162.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}*/

.wrapper {
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat;
  background-size: 100% 100%;
  display: none;
}

.pannel{
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
  z-index: 0;
  opacity: 0;
  overflow: hidden;
}

.current{
  -webkit-transition:opacity 1s;
  transition:opacity 1s;
  opacity: 1;
  z-index: 1;
}


.logo{
  position: absolute;
  top: 0.35rem;
  left:0.25rem;
  width: 1.43rem;
  height: 0.66rem;
  z-index: 700;
}


.arrow{
  width: 0.32rem;
  height: 0.17rem;
  background: url(../img/next.png) no-repeat center center;
  background-size:100% 100%; 
  position: absolute;
  bottom: 0.3rem;
  left: 46.4%;
  margin-right:0.2rem; 
  -webkit-animation:arrow 1.5s infinite ease-in-out;
  animation:arrow 1.5s infinite ease-in-out;
}

.skip{
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  margin-left:-0.785rem; 
  width: 1.57rem;
  height: 0.41rem;
  display: block;
  background: url(../img/skip.png) no-repeat center center;
  background-size: 100% 100%;
}

.snow{
  display: block;
  width: 0.5rem;
  height: 0.45rem;
  position: absolute;
  z-index: 10;
  -webkit-animation: roll 4s linear infinite both;
  animation: roll 4s linear infinite both;
}

.snow1{
  top: 1.5rem;
  left: 0.5rem;
}
.snow2{
  width: 0.35rem;
  height: 0.315rem;
  top: 5.5rem;
  left: 4.9rem;
}
.snow3{
  width: 0.35rem;
  height: 0.315rem;
  top: 3.2rem;
  right: 0.3rem;
  opacity: 0.6;
}
.snow4{
  width: 0.35rem;
  height: 0.315rem;
  bottom: 1.9rem;
  left: 5.2rem;
}
.snow5{
  width: 0.15rem;
  height: 0.135rem;
  top: 2rem;
  left: 2rem;
}
.snow6{
  width: 0.15rem;
  height: 0.135rem;
  top: 2rem;
  left: 2rem;
  opacity: 0.6;
}
.snow7{
  width: 0.15rem;
  height: 0.135rem;
  top: 5.5rem;
  left: 1.4rem;
}
.snow8{
  top: 8rem;
  left: 1.1rem;
  width: 0.25rem;
  height: 0.225rem;
  opacity: 0.7;
}

.music{
z-index:960;
position: absolute;
display: block;
top: 0.2rem;
right: 0.2rem;
width: 0.32rem;
}

.music.animate{
  -webkit-animation:roll 2s linear infinite both;
  animation:roll 2s linear infinite both;
}

#musichide{
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
}


.loading{ 
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  background:url(../img/snowbg.png) rgb(251,203,93) repeat-y;
  background-size: 100%;
  -webkit-animation: animate-snow 12s linear infinite;
  animation: animate-snow 12s linear infinite;
} 

.loading .ferrero{
display: block;
  position: absolute;
  top: 39%;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  height: 70px;
}

.loading .ferrero div{
  background-color:rgb(251,203,93);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.loading .ferrero img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 1;
}

.loading .count{
  display: block;
  z-index: 100;
  position: absolute;
  bottom: -0.2rem;
  left: 50%;
  margin-left: -0.3rem;
  margin-top: -0.72rem;
  height: 0.25rem;
  line-height: 0;
}
.loading .count img{
display: inline;
width: auto;
height: 110%;
vertical-align: baseline;
position: relative;
}

.loading #number{
   font-size: 0.31rem;
  width: 0.6rem;
  color: rgb(98, 43,24);
}

.pannel1{
  background:url(../img/bg1.jpg) no-repeat center;
  background-position: 100% 100%;
}


.pannel1 .txt{
  text-align: center;
  width: 100%;
  position: absolute;
  top: 3.3rem;
}


.pannel1 .txt p{
  font-size: 0.25rem;
  opacity: 0;
  -webkit-transition:opacity 4s ease-in-out,-webkit-transform 3s ease-in-out;
  transition:opacity 4s  ease-in-out ,transform 3s ease-in-out;
  color: rgb(98, 43, 24);
  line-height: 3;
  text-align: center;
}

.pannel1 .txt p.active{
  opacity: 1;
  -webkit-transform:translate(0,-0.2rem);
  transform:translate(0,-0.2rem);
}

.pannel1 .slogan{
  width: 3.3rem;
  position: absolute;
  top: 7rem;
  left: 50%;
  opacity: 1;
  margin-left: -1.65rem;
/*  opacity: 0;*/
}

/*.pannel1 .slogan.active{
  -webkit-animation: bounceIn 2s forwards 1s;
    -webkit-animation: bounceIn 2s forwards ;
}*/

.pannel2 .flash{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.pannel2 .flash img{
  width: 100%;
  height: 100%;
}

.pannel2 .hb{
  width: 6.4rem;
  height: 3.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.pannel2 .hb img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%
}

.pannel2 .bar{
  width: 6.4rem;
  display: block;
  position: absolute;
  top:3.6rem;
}


.pannel2 .flashtxt{
  text-align: center;
  display: block;
  position: absolute;
  top: 5.1rem;
  width: 100%;
  font-size: 0.25rem;
  line-height: 1.4;
  font-family: "黑体";
  color: rgb(98, 43, 24);
}


.pannel2 .flashtxt.flashtxt1{
  top: 6.2rem;  
}
.pannel2 .flashtxt1{
display: none;
}

.pannel2 .flashtxt2{
display: none;
}

.pannel2 .flashtxt3{
display: block;
}

.pannel3{

-webkit-transition:opacity 2s ;
transition:opacity 2s

}

.pannel3 .pic1{
  width: 2.9rem;
  position: absolute;
  top: 1.9rem;
  left: 1.2rem;
}

.pannel3 .pic2{
  width: 2.8rem;
  top: 3.2rem;
  left: 0.1rem;
  position: absolute;
  visibility: hidden;

}

.pannel3 .pic3{
  width: 2.89rem;
  position: absolute;
  top: 4.3rem;
  left: 0.9rem;
  top: 4.5rem;
}

.pannel3 .pic4{
  width: 2.87rem;
  position: absolute;
  top: 1.2rem;
  left: 3.2rem;
  visibility: hidden;
}
.pannel3 .pic5{
  width: 2.87rem;
  position: absolute;
  top: 3.8rem;
  left: 3.5rem;
/*  visibility: hidden;*/
}

.pannel3 .pic6{
  width: 4.17rem;
  position: absolute;
  top: 2.7rem;
  left: 50%;
  margin-left: -1.8rem;
}
.pannel3 .pic7{
  width: 2.57rem;
  position: absolute;
  top: 2.5rem;
  right: 0;
  opacity: 1;
  -webkit-transform: rotate(50deg) scale(0.5) translate(5rem,-5rem);
  transform: rotate(50deg) scale(0.5) translate(5rem,-5rem);
/*  -webkit-transition: all 0.5s ease-in-out 9s;
  transition: all 0.5s ease-in-out 9s;*/
    -webkit-transition: all 0.5s ease-in-out 5s;
  transition: all 0.5s ease-in-out 5s;
}




.pannel3 .light{
width:6.4rem;
display: block;
position: absolute;
top: 0.5rem;
left: 0;
opacity: 0.7;
z-index: 10;
}

/*.pannel3 .txt{
  width: 4.33rem;
  position: absolute;
  top: 7.5rem;
  left: 50%;
  margin-left: -2.17rem;
  opacity: 0;
}*/


.current.pannel3 .light.animate{
  -webkit-animation: changeopacity linear 3s infinite 11s;
  animation: changeopacity linear 3s infinite 11s;
}


.current.pannel3 .pic1.animate{
/*  -webkit-animation: fadeIn 1s backwards 7s;
  animation: fadeIn 1s backwards 7s;*/
  -webkit-animation: fadeIn 1s backwards 3s;
  animation: fadeIn 1s backwards 3s;
}
.current.pannel3 .pic2.animate{
/*  -webkit-animation:bouncepicbInLeft 3s both  2.5s;
  animation: bouncepicbInLeft 3s   both 2.5s;*/
  -webkit-animation:bouncepicbInLeft 2s both  1s;
  animation: bouncepicbInLeft 2s   both 1s;
}
.current.pannel3 .pic3.animate{
/*  -webkit-animation:fadeIn 2s  backwards 7s;
  animation: fadeIn 2s  backwards 7s;*/
  -webkit-animation:fadeIn 2s  backwards 3s;
  animation: fadeIn 2s  backwards 3s;
}
.current.pannel3 .pic4.animate{
/*    -webkit-animation:bouncepicdInRight 3s both;
  animation: bouncepicdInRight 3s both;*/
  -webkit-animation:bouncepicdInRight 2s both;
  animation: bouncepicdInRight 2s both;
  visibility: visible;
}
.current.pannel3 .pic5.animate{
/*  -webkit-animation:bouncepiceInRight 3s both 4.5s;
  animation: bouncepiceInRight 3s both 4.5s;*/

/*  -webkit-animation:bouncepiceInRight 2s both 3s; fadeIn
  animation: bouncepiceInRight 2s both 3s;*/
    -webkit-animation: fadeIn 1s backwards 3s;
    animation: fadeIn 1s backwards 3s;

}


.current.pannel3 .pic6.animate{
/*  -webkit-animation:bounceIn 1s both 7.5s;
  animation: bounceIn 1s both 7.5s;*/
  -webkit-animation:bounceIn 1s both 4.3s;
  animation: bounceIn 1s both 4.3s;
}
.current.pannel3 .pic7.animate{
  -webkit-transform:rotate(0) scale(1) translate(0,0);
  transform:rotate(0) scale(1) translate(0,0);
  opacity: 1;
}

/*.current.pannel3 .txt.animate{*/
/*  -webkit-animation: fadeInUp 1s 9s forwards;
  animation: fadeInUp 1s 9s forwards;*/
/*  -webkit-animation: fadeInUp 1s 5.5s forwards;
  animation: fadeInUp 1s 5.5s forwards;
}*/



.pannel3 .arrow{
  display: none;
}


.pannel4 .pic{
  width: 2.41rem;
  position: absolute;
  top: 1.8rem;
  left: 50%;
  margin-left: -1.2rem;
}


.pannel4 .content{
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 2.2rem;
  overflow: hidden;
  z-index: 100; /*手机中右侧不敏感，增加此属性；*/
}

.pannel4 .zdy{
  width: 1.3rem;
  position: absolute;
  top: 7.4rem;
  text-align: center;
  left: 50%;
  margin-left: -0.65rem;
}

.pannel4 .zdy img{
  display: block;
}


.pannel4 .content .select{
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.pannel4 .content .select .choose{
  width: 100%;
  text-align: center;
  position: relative;
}

.pannel4 .content .select .choose.bg{
  background:url(../img/line.png) no-repeat center bottom;
  background-size: 85% 20%;  
}

.pannel4 .content .select .choose img{
  display: inline-block;
  width: 0.99rem;
  vertical-align: 27%;
}

.pannel4 .content .select .choose.zdy img{
  width: 1.29rem;
}
.pannel4 .content .select .chooseCont{
  display: none;
}

.pannel4 .goon{
  width: 2.67rem;
  position: absolute;
  left: 50%;
  margin-left: -1.32rem;
  bottom: 0.8rem;
}

.pannel4 .scroll{
  width: 8px;
  position: absolute;
  left: 50%;
  margin-left: -4px;
  top: 8rem;
  -webkit-animation:arrow 2s ease-in-out infinite ;
  animation:arrow 2s ease-in-out infinite ;
}

.pannel4 .penandmail{
  width: 2.36rem;
  position: absolute;
  right: 0;
  bottom: 1.3rem;
  z-index: 110;
}


.pannel5 .select{
  width: 6rem;
  height: 2.3rem;
  position: absolute;
  top: 7rem;
  left: 50%;
  margin-left: -3rem;
  overflow: hidden;
  background: url(../img/line.png) no-repeat 73% 88%;
  background-size: 110% 10%;
}


.pannel5 .select  ul{
  display: block;
  position: absolute;
  width: 22.5rem;
  height: 2rem;
  top: 0;
  left: 0;
  list-style: none;
  text-align: center;

}

.pannel5 .select  ul li{
  display: block;
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid rgba(74,40,12,0.1);
}



.pannel5 .select  ul li.highColor{
  border: 2px solid rgba(74,40,12,1);
}
.pannel5 .select  ul li img{
  height: 100%;
}

.pannel5 .point{
width: 1.1rem;
height: 0.15rem;
display: block;
position: absolute;
z-index: 100;
bottom:0.5rem;
left: 50%;
margin-left: -0.5rem;
font-size: 0;
text-align: center;
}
.pannel5 .point span{
  display: inline-block;
  width: 0.15rem;
  height: 0.15rem;
  background-color: rgba(74,40,12,0.2);  
  border-radius: 0.15rem;
  margin-right: 0.1rem;

}
.pannel5 .point span.highColor{
  background-color: rgba(74,40,12,1);  
}


.pannel5 #mycanvas{
  display: block;
  position: absolute;
  top: 0;left: 0;
  z-index:800;
}
.pannel5 #cover{
  display: block;
  position: absolute;
  top: 0;left: 0;
  z-index:900;
}

.pannel5 #cover .move{
  display: block;
  position: absolute;
  top: 2.16rem;
  left:0.58rem ;
  font-family: "黑体";
}

.pannel5 #cover .move.vertical{
  display: block;
  position: absolute;
  top: 0.1rem;
  left:0.5rem;
  max-width: 2rem;
  max-height: 5.2rem;
}


.pannel5 #cover .move .title{
position: relative;
 width: 2.25rem;
 margin: 0 auto;
}

.pannel5 #cover .move .title.vertical{
  float: right;
 max-width: 0.7rem;
 max-height: 2.18rem;
 margin: auto;
}

.pannel5 #cover .move .title .movebar{
  position: absolute;
  top: -7px;
  right: -15px;
  width: 18px;
}

.pannel5 #cover .move .title .movebar.vertical{
  position: absolute;
  top: -8px;
  right: -20px;
}


.pannel5  .move .title p{
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: "黑体";
  color: #fff;
  text-shadow: 0px 0px 10px black;
}

.pannel5  .move .title p.vertical{
display: inline-block;
}


.pannel5 #cover .move .txt{
  max-width: 5rem;
  height: auto;
  position: relative;
  font-size: 0.25rem;
  color: #fff;
  padding: 0.2rem 0 0 0;
  text-shadow: 0px 0px 10px black;
  font-family: "黑体";
  text-align: center;
  line-height: 1.5;
}

.pannel5 #cover .move .txt.vertical{
  max-height: 5rem;
  width: 0.7rem;
  float: left;
  font-size: 0.25rem;
  color: #fff;
  padding:0;
  text-shadow: 0px 0px 10px black;
  font-family: "黑体"; 
  text-align: left;
}

.pannel5 #cover .move.vertical .line1{
  width: 0.3rem;
}

.pannel5 #cover .txt span.vertical{
  width: 0.25rem;
  line-height: 0.25rem;
  font-size: 0.25rem;
  display: block;
  word-break: break-word;
  max-height: 5rem;
  overflow: hidden;
  float: right;
    margin: 0 0.05rem;
}
.pannel5 #cover .move .txt.vertical:after{
  content: ".";
  visibility: hidden;
  font-size: 0;
  clear: both;;
}
.pannel5 #editPannel{
position: absolute;
top: 0;
left: 0;
display: block;
width: 6.4rem;
height: 6.4rem;
background:rgba(100,71,48,0.85);  
z-index: 950;
display: none;
}
.pannel5 #editPannel .error{
width: 100%;
font-size: 0.25rem;
font-family: "宋体";
text-align: center;
display: none;
margin-top: 0.5rem;
color: #D6A121;
text-shadow: 0px 0px 10px black;
}
.pannel5 #editPannel .inputarea{
  width: 3.1rem;
  position: absolute;
  left: 50%;
  margin-left: -1.5rem;
  top: 2.16rem;
}
.pannel5 #editPannel .inputarea .txtInput{
width: 100%;
font-size: 0.7rem;
color: rgb(215, 215, 215);
background: inherit;
resize: none;
border: none;
border-bottom: 1px solid rgba(130, 122, 122, 0.7);
text-align: center;
font-weight: bold;
}

.pannel5 #editPannel .inputareb{
  width: 5.2rem;
  position: absolute;
  left: 50%;
  margin-left: -2.5rem;
  top: 3.25rem;
}
.pannel5 #editPannel .inputareb .txtInput{
width: 100%;
font-size: 0.2rem;
text-align: left;
background: inherit;
color: rgb(215, 215, 215);
resize: none;
border: none;
border-bottom: 1px solid rgba(130, 122, 122, 0.7);
text-align: center;
font-size: 0.25rem;
font-weight: bold;
line-height: 1.3;
}

.pannel5 #editPannel .done{
width: 72px;
height:23px;
margin-left: -36px;
position: absolute;
top: 4.4rem;
left: 50%;
display: block;
background: url(../img/done2.png) no-repeat center;
background-size: 100% 100%;
}

.pannel5 #cover .move .editbtn{
width: 72px;
height: 23px;
background:url(../img/edit.png) no-repeat center;
background-size: 100% 100%;
position: absolute;
left: 50%;
bottom:-30px;
margin-left:-36px;
display: block;
}
.pannel5 #done{
  width:2.67rem;
  height: 0.52rem;
  display: block;
  position: absolute;
  top: 9.1rem;
  left: 50%;
  margin-left: -1.33rem;
  background: url(../img/done.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 100;
  text-align: left;
  font-size: 0.3rem;
  color: rgb(202, 146, 40);
  padding-top: 0.05rem;
  text-decoration: none;
  padding-top: 0.1rem;
  padding-left: 0.8rem;
}

.pannel5 .changemodel{
  width:1.46rem;
  height: 0.31rem;
  display: block;
  position: absolute;
  top: 6.55rem;
  left: 1rem;
  background: url(../img/changemodel.png) no-repeat center;
  background-size: 100% 100%;
}

.pannel5 .choosemypic{
  width:2.75rem;
  height: 0.31rem;
  display: block;
  position: absolute;
  top: 6.55rem;
  right: 0.9rem;
  background: url(../img/mypic.png) no-repeat center;
  background-size: 100% 100%;
}

.pannel5 #cutPic{
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat;
  background-size: 100% 100%;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.pannel5 #cutPic .cover{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.pannel5 #cutPic .btn-submit{
  width: 2.67rem;
  height: 0.52rem;
  display: block;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  margin-left: -1.33rem;
  background: url(../img/done.png) no-repeat center;
  background-size: 100% 100%;
}

.pannel5 .btn-upload .btn-file{
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0;
}

.pannel5 #cutPic .submit-cover-container{
  position: absolute;
  width: 6rem;
  height: 6rem;
  top: 1.8rem;
  left: 50%;
  border: 1px dashed #AAA8A8;
  margin-left: -3rem;
}

.pannel5 #cutPic .submit-cover-container .cornertr{
  display: block;
  position: absolute;
  top: -0.15rem;
  right: -0.1rem;
  width: 0.24rem;
  height: 0.24rem;
}

.pannel5 #cutPic .submit-cover-container #cv{
  width: 100%;
  height: 100%;
}

.pannel5 #cutPic .submit-cover-container .submit-cover-pic{
  width: 100%;
  height: 100%;
}

.pannel6 .imgPreview{
display: block;
top: 0;
left: 0;
width: 6.4rem;
height: 6.4rem; 
}
.pannel6 .imgPreview img{
  width: 100%;
  height: 100%;
}

.pannel6 .bar{
  width: 6.4rem;
  display: block;
  position: absolute;
  top:6.4rem;
}

.pannel6 .arrow{
  display: none;
}
.pannel6 p{
  display: none;
  position: absolute;
  top: 8.1rem;
  width: 5rem;
  height: auto;
  left: 50%;
  margin-left: -2.5rem;
  font-size: 0.25rem;
  font-family: "黑体";
  text-align: center;
  color: rgb(98, 43, 24);
  line-height: 1.5;
}

.pannel6 .txt{
  display: none;
  position: absolute;
  top: 8.1rem;
  width: 100%;
  left: 0;  
}

.pannel6 .sharepop{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background: url(../img/popbg.png) no-repeat center;
background-size: 100% 100%;
background-color:rgba(61, 29, 2, 1);
z-index: 999;
display: none;
}
.pannel6 .btn-detail{
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 0.85rem;
    left: 0.05rem;
}

/*.pannel6 .sharepop .imgPreview2{
  display: block;
  width:2.75rem;
  position: absolute;
  top:1.2rem;
  left: 50%;
  margin-left: -1.375rem;
}*/

.pannel6 .sharepop .slogan{
  display: block;
  position: absolute;
  top: 8.1rem;
  left: 50%;
  width: 4.1rem;
  margin-left: -2.05rem;
}

.pannel6 .sharepop .sharebtn{
    display: block;
    position: absolute;
    /* bottom: 0.3rem; */
    left: 50%;
    width: 3.5rem;
    height: 0.7rem;
    margin-left: -1.5rem;
    background: url(../img/sharebtn.png) no-repeat center;
    background-size: 100% 100%;
    top: 5.5rem;
}

.pannel6 .sharepop .closebtn{
  display: block;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  font-size: 0.25rem;
  text-decoration: none;
  color: rgb(205, 160, 78);
}

.pannel6 .sharepop .sharepen{
  display: block;
  width: 1.15rem;
  top: -0.4rem;
  right: 0;
  position: absolute;
  opacity: 1;

}

.pannel6 .sharepop .sharepenlight{
  display: block;
  width: 2.38rem;
  top: -1.05rem;
  right: 0;
  position: absolute;
  opacity: 1;
}

.current.pannel6 .sharepop .sharepen.animate{
    -webkit-animation:bounce 1s ease-in-out 1 ;
    animation:bounce 1s ease-in-out 1 ;
}
.current.pannel6 .sharepop .sharepenlight.animate{

    -webkit-animation:changeopacity 0.5s ease-in-out 2 ;
    animation:changeopacity 0.5s ease-in-out 2;
}

.pannel6 .sharepop .giftcontent{
    position: absolute;
    width: 5.45rem;
    height: 7.2rem;
    left: 50%;
    margin-left: -2.73rem;
    top: 2.4rem;
    /* background: url(../img/giftbg.png) no-repeat 0 6rem; */
    background-size: 100% 80.5%;
}

.pannel6 .sharepop .giftcontent .giftbtn{
   display: block;
    position: absolute;
    top: 4.5rem;
    left: 50%;
    width: 3.5rem;
    height: 0.7rem;
    background-size: 100% 100%;
    overflow: hidden;
    margin-left: -1.5rem;
}
.pannel6 .sharepop .giftcontent .giftbtn .btnlight{
  width: 100%;
  height: 95%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url(../img/btnlight.png);
  background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-animation:btnlight 3s linear  infinite both;
  animation:btnlight 3s linear infinite both;
}

.pannel6 .sharepop .giftcontent .giftbtn > img{
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.pannel6 .sharepop .giftcontent .giftbox{
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 4.84rem;
    margin-left: -2.42rem;
}

.pannel6 .sharepop .giftcontent .giftpic2{
    display: block;
    position: absolute;
    left: 0.46rem;
    top: 0.88rem;
    width: 1.2rem;
    transform: rotate(-19.2deg);
    -webkit-transform: rotate(-19.2deg);

}

.pannel6 .sharepop .giftcontent .giftpic{
    display: block;
    position: absolute;
    left: 0.46rem;
    top: 0.88rem;
    width: 1.2rem;
    transform: rotate(-19.2deg);
    -webkit-transform: rotate(-19.2deg);
}

.pannel6 .sharepop .giftcontent .giftpic.animate{
    -webkit-animation:giftpic 3.5s ease-in-out infinite;
    animation:giftpic 3.5s ease-in-out infinite; 
}
.pannel6 .sharepop .giftcontent .gifttxt{
    display: block;
    position: absolute;
    top: 4.2rem;
    left: 50%;
    width: 2.6rem;
    margin-left: -1.3rem;
}
.pannel5,.pannel6{
  overflow: scroll!important;
  overflow-scrolling:touch; 
  -webkit-overflow-scrolling:touch;
}


.pannel7{
-webkit-transition:opacity 2s ;
transition:opacity 1s;
}
.pannel7.clearTran{
-webkit-transition:none;
transition:none;  
}
.pannel7 .p7pic1{
  width:3.93rem ;
  display: block;
  position: absolute;
  margin-left:-1.95rem; 
  top: 1.7rem;
  left: 50%;
}
.pannel7 .p7pic1 div{
    position: absolute;
    top: 0.62rem;
    left: 0.3rem;
    width: 1.23rem;
    display: block;
}

/*.pannel7 .p7pic1 .card2{
    transition:left 2s ease-in-out;
    -webkit-transition:left 2s ease-in-out;  
}
.pannel7 .p7pic1 .card3{
    transition:left 2s ease-in-out  2s;
    -webkit-transition:left 2s ease-in-out 2s;  
}
.pannel7 .p7pic1 .card4{
    transition:left 2s ease-in-out 4s ;
    -webkit-transition:left 2s ease-in-out 4s ;  
}*/
.pannel7 .p7pic1 .card2.animate{
    -webkit-animation:card 2.5s ease-in-out  both 1;
    animation:card 2.5s ease-in-out  both 1;  
}
.pannel7 .p7pic1 .card3.animate{
    -webkit-animation:card 2.5s ease-in-out  both 3s 1;
    animation:card 2.5s ease-in-out  both 3s 1;  
}
.pannel7 .p7pic1 .card4.animate{
    -webkit-animation:card 2.5s ease-in-out  both 6s 1;
    animation:card 2.5s ease-in-out  both 6s 1;  
}
.pannel7 .p7pic2{
    width: 2.75rem;
    display: block;
    position: absolute;
    margin-left: -1.40rem;
    top: 7.8rem;
    left: 50%;
}
.pannel7 .p7pic3{
    width: 5.2rem;
    display: block;
    position: absolute;
    margin-left: -2.6rem;
    top: 6.2rem;
    left: 50%;
}
.disnone{
  display: none!important;
}
.pop-detail{
  position:fixed;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.8);
  z-index: 100;
  display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.pop-detail img{
  width:100%;
  display: block;
}

/*箭头动画*/
@-webkit-keyframes arrow{
   0%,30% {
   opacity: 0;
   -webkit-transform: translate(0,-8px)
   }

   70% {
   opacity: 1;
   -webkit-transform: translate(0,0)
   }

   100% {
   opacity: 0;
   -webkit-transform: translate(0,10px)
   }
}

/*转动*/
@-webkit-keyframes roll{
  0%{
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100%{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}




@keyframes roll{
  0%{
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100%{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}

/* 弹入 */
  @-webkit-keyframes bounceIn {
      0%, 20%, 40%, 60%, 80%, 100% {
          -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
          animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }

      0% {
          opacity: 0;
          -webkit-transform: scale3d(.3, .3, .3);
          transform: scale3d(.3, .3, .3);
      }

      20% {
          -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
      }

      40% {
          -webkit-transform: scale3d(.9, .9, .9);
          transform: scale3d(.9, .9, .9);
      }

      60% {
          opacity: 1;
          -webkit-transform: scale3d(1.03, 1.03, 1.03);
          transform: scale3d(1.03, 1.03, 1.03);
      }

      80% {
          -webkit-transform: scale3d(.97, .97, .97);
          transform: scale3d(.97, .97, .97);
      }

      100% {
          opacity: 1;
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
      }
  }


/*渐隐渐现*/
@-webkit-keyframes changeopacity{
    from{
   opacity: 0.7;
   }

   50%{
   opacity: 0.2;
   }

   to{
   opacity: 0.7;
   }
}

keyframes changeopacity{
  from{
   opacity: 0.7;
   }
   50%{
   opacity: 0.2;
   }

   to{
   opacity: 0.7;
   }
}


/*上移*/
@-webkit-keyframes moveup{
   0%{
    -webkit-transform: translate(10px, 10px);
    transform: translate(10px, 10px) ;
    opacity: 0;
   }

   100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
   }
}



/*giftpic*/
@-webkit-keyframes giftpic{
   0%{
    -webkit-transform: translate(-3rem, 0.5rem) rotate(-19.2deg);
            transform: translate(-3rem, 0.5rem) rotate(-19.2deg);

   }
   40% {
    -webkit-transform: translate(-0.5rem, -0.5rem) rotate(-19.2deg);
            transform: translate(-0.5rem, -0.5rem) rotate(-19.2deg);

   }

   100%,70% {
    -webkit-transform: translate(0, 0) rotate(-19.2deg);
            transform: translate(0, 0) rotate(-19.2deg);
   }
}

@keyframes giftpic{
   0%{
    -webkit-transform: translate(-3rem, 0.5rem) rotate(-19.2deg);
            transform: translate(-3rem, 0.5rem) rotate(-19.2deg);

   }
   40% {
    -webkit-transform: translate(-0.5rem, -0.5rem) rotate(-19.2deg);
            transform: translate(-0.5rem, -0.5rem) rotate(-19.2deg);

   }

   100%,70% {
    -webkit-transform: translate(0, 0) rotate(-19.2deg);
            transform: translate(0, 0) rotate(-19.2deg);
   }
}



@-webkit-keyframes card{
   0%{
    -webkit-transform: translate(-3rem, 0.5rem);
            transform: translate(-3rem, 0.5rem);

   }
   55% {
    -webkit-transform: translate(-0.5rem, -0.5rem);
            transform: translate(-0.5rem, -0.5rem);

   }

   100%,85% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
   }
}

keyframes card{
   0%{
    -webkit-transform: translate(-3rem, 0.5rem);
            transform: translate(-3rem, 0.5rem);

   }
   55% {
    -webkit-transform: translate(-0.5rem, -0.5rem);
            transform: translate(-0.5rem, -0.5rem);

   }

   100%,85% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
   }
}









@-webkit-keyframes ball-scale-ripple {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 1; }

  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.7; }

  100% {
    opacity: 0.0; } }

@keyframes ball-scale-ripple {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 1; }

  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.7; }

  100% {
    opacity: 0.0; } }


@keyframes bouncepicdInRight{
 from{
    -webkit-transform: scale(1.5) translate(2rem, 2rem) rotateY(0);
            transform: scale(1.5) translate(2rem, 2rem) rotateY(0);
  }
  70%{
    -webkit-transform: scale(2) translate(-0.5rem, 1.5rem) rotateY(0);
            transform: scale(2) translate(-0.5rem, 1.5rem) rotateY(0);
  }
  to{
/*    -webkit-transform: scale(1) translate(0, 0) rotateY(365deg);
            transform: scale(1) translate(0, 0) rotateY(365deg);*/ 
    -webkit-transform: scale(1) translate(0, 0) rotateY(0);
            transform: scale(1) translate(0, 0) rotateY(0);    
  }  
}

@-webkit-keyframes bouncepicdInRight{
 from{
    -webkit-transform: scale(1.5) translate(2rem, 2rem) rotateY(0);
            transform: scale(1.5) translate(2rem, 2rem) rotateY(0);
  }
  70%{
    -webkit-transform: scale(2) translate(-0.5rem, 1.5rem) rotateY(0);
            transform: scale(2) translate(-0.5rem, 1.5rem) rotateY(0);
  }
  to{
    -webkit-transform: scale(1) translate(0, 0) rotateY(0);
            transform: scale(1) translate(0, 0) rotateY(0);    
  } 
}


@keyframes bouncepicbInLeft{
  from{
    -webkit-transform: scale(1.5) translate(-2.5rem, 1.5rem) rotate(0);
            transform: scale(1.5) translate(-2.5rem, 1.5rem) rotate(0);
            visibility: visible;
  }
  70%{
    -webkit-transform: scale(2) translate(0.8rem, 1rem) rotate(0);
            transform: scale(2) translate(0.8rem, 1rem) rotate(0);
  }
  to{
/*    -webkit-transform: scale(1) translate(0, 0) rotate(360deg);
            transform: scale(1) translate(0, 0) rotate(360deg);*/
    -webkit-transform: scale(1) translate(0, 0) rotate(0);
            transform: scale(1) translate(0, 0) rotate(0);
            visibility: visible;    
  }    
}

@-webkit-keyframes bouncepicbInLeft{
  from{
    -webkit-transform: scale(1.5) translate(-2.5rem, 1.5rem) rotate(0);
            transform: scale(1.5) translate(-2.5rem, 1.5rem) rotate(0);
            visibility: visible;
  }
  70%{
    -webkit-transform: scale(2) translate(0.8rem, 1rem) rotate(0);
            transform: scale(2) translate(0.8rem, 1rem) rotate(0);
  }
  to{
/*    -webkit-transform: scale(1) translate(0, 0) rotate(360deg);
            transform: scale(1) translate(0, 0) rotate(360deg);*/
    -webkit-transform: scale(1) translate(0, 0) rotate(0);
            transform: scale(1) translate(0, 0) rotate(0);
            visibility: visible;    
  }    
}


@keyframes bouncepiceInRight{
  from{
    -webkit-transform: scale(2) translate(2.8rem, 0) ;
            transform: scale(2) translate(2.8rem, 0) ;
            visibility: visible;
  }
  70%{
    -webkit-transform: scale(2) translate(-0.5rem, 0) ;
            transform: scale(2) translate(-0.5rem, 0) ;
  }
  to{
    -webkit-transform: scale(1) translate(0,0) ;
            transform: scale(1) translate(0,0) ; 
            visibility: visible;   
  } 
}

@-webkit-keyframes bouncepiceInRight{
  from{
    -webkit-transform: scale(2) translate(2.8rem, 0) ;
            transform: scale(2) translate(2.8rem, 0) ;
            visibility: visible;
  }
  70%{
    -webkit-transform: scale(2) translate(-0.5rem, 0) ;
            transform: scale(2) translate(-0.5rem, 0) ;
  }
  to{
    -webkit-transform: scale(1) translate(0,0) ;
            transform: scale(1) translate(0,0) ; 
            visibility: visible;   
  }
}

  @-webkit-keyframes animate-snow

  {

    0% { background-position: center 0;}

    100% { background-position: center 6rem;}

  }
 @keyframes animate-snow

  {
    0% { background-position: center 0, 0 0;}

    100% { background-position: center 885px, 0 0;}
  }


@keyframes btnlight{
  from{
    background-position: -2.6rem 0;
    opacity: 0;
  }
  35%{opacity:0;}
  50%{
    opacity: 1;
    background-position: 0rem 0;
  }
  70%{opacity:0;}

  to{    
    opacity: 0;
    background-position: 2.6rem 0;
  }  
}

@-webkit-keyframes btnlight{
  from{
    background-position: -2.6rem 0;
    opacity: 0;
  }
  35%{opacity:0;}
  50%{
    opacity: 1;
    background-position: 0rem 0;
  }
  70%{opacity:0;}

  to{    
    opacity: 0;
    background-position: 2.6rem 0;
  }  
}