html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
a {
  outline: none;
}
a, button, input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
* {
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  box-sizing: border-box;
}
html {
  font-size: 50px;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: Microsoft YaHei, Arial, sans-serif;
}
img {
  display: block;
  border: none;
  width: 100%;
}

/* @font-face {
  font-family: 'blockbeextracn';
  src: url("/fonts/block-be-extra-cn-13615416162.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*/
.pannel1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  background: url(../img/bg.jpg) no-repeat;
  background-size: 100% 100%;
}



#musichide{
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
}

.music{
z-index:960;
position: absolute;
display: block;
top: 0.2rem;
right: 0.2rem;
width: 0.32rem;
}

.music.animate{
  -webkit-animation:roll 2s linear infinite both;
  animation:roll 2s linear infinite both;
}



.logo {
  position: absolute;
  top: 0.35rem;
  left: 0.25rem;
  width: 1.43rem;
  height: 0.66rem;
  z-index: 9999;
}
.arrow {
  width: 2rem;
  height: 2rem;
  background: url(../img/next.png) no-repeat center center;
  background-size: 0.32rem 0.17rem;
  position: absolute;
  bottom: 0;
  left: 2.2rem;
  -webkit-animation: arrow 1.5s infinite ease-in-out;
  animation: arrow 1.5s infinite ease-in-out;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  opacity: 0;
  filter: alpha(opacity=0);
}
.snow {
  display: block;
  width: 0.5rem;
  height: 0.45rem;
  position: absolute;
  z-index: 10;
  -webkit-animation: roll 4s linear infinite both;
  animation: roll 4s linear infinite both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.snow img {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation: show 1s;
  animation: show 1s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.snow1 {
  left: 2.31rem;
  top: 0.04rem;
  width: 0.24rem;
  height: 0.24rem;
}
.snow2 {
  width: 0.15rem;
  height: 0.15rem;
  left: 2.77rem;
  top: 2.3rem;
}
.snow3 {
  width: 0.15rem;
  height: 0.15rem;
  left: 4.97rem;
  top: 0.3rem;
}
.snow4 {
  width: 0.15rem;
  height: 0.15rem;
  left: 1.37rem;
  top: 2.05rem;
}
.snow5 {
  width: 0.24rem;
  height: 0.24rem;
  left: 5.4rem;
  top: 4.3rem;
}
.snow6 {
  width: 0.24rem;
  height: 0.24rem;
  left: 5.35rem;
  top: 6.74rem;
}
.snow7 {
  width: 0.24rem;
  height: 0.24rem;
  left: 5.12rem;
  top: 1.05rem;
}
.snow8 {
  width: 0.16rem;
  height: 0.16rem;
  left: 3.46rem;
  top: 2.89rem;
}
.snow9 {
  width: 0.16rem;
  height: 0.16rem;
  left: 4.71rem;
  top: 3.08rem;
}
.disnone {
  display: none;
}

/* 箭头动画 */
@-webkit-keyframes arrow {
  0%, 30% {
    opacity: 0;
    -webkit-transform: translate(0, -8px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(0, 0)
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px)
  }
}

/* 转动 */
@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.photo1 {
  position: absolute;
  width: 2.89rem;
  left: -2.05rem;
  top: 5.8rem;
  opacity: 1;
  filter: alpha(opacity=1);
  animation: fade-in 3s;
  -webkit-animation: fade-in 3s;
}
.photo2 {
  position: absolute;
  width: 3.09rem;
  left: -1.3rem;
  top: 6.4rem;
  opacity: 1;
  filter: alpha(opacity=1);
  animation: fade-in 3s;
  -webkit-animation: fade-in 3s;
}
.photo3 {
  position: absolute;
  width: 2.93rem;
  left: 3.33rem;
  top: 1.32rem;
  opacity: 1;
  filter: alpha(opacity=1);
  animation: fade-in 3s;
  -webkit-animation: fade-in 3s;
}
@keyframes mail-in {
  0% {
    transform: translate(0);
  }
  30%, 70% {
    transform: translate(-126%)
  }
  90%,100% {
    transform: translate(-126%, -0.3rem);
  }
}
@-webkit-keyframes mail-in {
  0% {
    -webkit-transform: translate(0);
  }
  30%, 70% {
    -webkit-transform: translate(-126%)
  }
  90%,100% {
    -webkit-transform: translate(-126%, -0.3rem);
  }
}
.mail {
  position: absolute;
  width: 4.19rem;
  left: 6.4rem;
  top: 2.66rem;
  animation: mail-in 5s;
  -webkit-animation: mail-in 5s;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes mail-open {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes mail-open {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.mail-open {
  position: absolute;
  width: 4.19rem;
  left: 1.11rem;
  top: 1.52rem;
  opacity: 0;
  filter: alpha(opacity=0);
  animation: mail-open 0s;
  -webkit-animation: mail-open 0s;
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes mail-shine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes mail-shine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mail-shine {
  position: absolute;
  width: 4.19rem;
  left: 1.11rem;
  top: 1.52rem;
  opacity: 0;
  filter: alpha(opacity=0);
  animation: mail-shine 1s;
  -webkit-animation: mail-shine 1s; 
  animation-delay: 6s;
  -webkit-animation-delay: 6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes pen-in {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-70%, 5.37rem);
  }
}
@-webkit-keyframes pen-in {
  0% {
    -webkit-transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-70%, 5.37rem);
  }
}
.pen {
  position: absolute;
  width: 3.63rem;
  left: 6.4rem;
  top: -3.27rem;
  animation: pen-in 1s;
  -webkit-animation: pen-in 1s;
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
.slogan {
  position: absolute;
  width: 4.24rem;
  left: 1.09rem;
  top: 6rem;
  opacity: 0;
  filter: alpha(opacity=0);
  animation: fade-in 3s;
  -webkit-animation: fade-in 3s;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.text {
  position: absolute;
  width: 2.58rem;
  left: 1.9rem;
  top: 7rem;
  opacity: 0;
  filter: alpha(opacity=0);
  animation: fade-in 3s;
  -webkit-animation: fade-in 3s;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.pannel2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  background: url(../img/bg.jpg) no-repeat;
  background-size: 100% 100%;
  display: none;
}
.mask {
  position: absolute;
  width: 6.4rem;
  top: 0;
}
.mask img {
  width: 6.4rem;
}
.mask .f2 {
  display: none;
}
.mask .f3 {
  display: none;
}
.mask .f4 {
  display: none;
}
.mask img:last-of-type {
  position: absolute;
  left: 1.45rem;
  top: 4.2rem;
  width: 3.51rem;
}

.imgcontainer {
  width: 6.4rem;
  height: 6.4rem;
}
.bottom {
  width: 6.4rem;
  height: 3.68rem;
  position: relative;
}
.bottom a {
  position: absolute;
  left: 1.85rem;
  top: 2.34rem;
  width: 2.67rem;
  height: 0.52rem;
  background: url(about:blank);
}